<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ProviderFactoryAssemblyPath" value="WordCounter.ConsoleProvider.dll"/>
      <add key="PersistorFactoryAssemblyPath" value="WordCounter.ConsoleProvider.dll"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>